<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
    <header class="header box" th:fragment="header">
        <div class="header__left">
            <div class="header__photo">
                <img class="header__photo-img" src="assets/img/main-photo.svg" alt="Ronald Robertson">
            </div>
            <div class="header__base-info">
                <h4 class="title titl--h4">蒋旺</h4>
                <div class="status">java开发工程师</div>
                <ul class="header__social">
                    <li><a href="https://www.facebook.com"><i class="font-icon icon-facebook1"></i></a></li>
                    <li><a href="https://www.twitter.com"><i class="font-icon icon-twitter1"></i></a></li>
                    <li><a href="https://www.instagram.com"><i class="font-icon icon-instagram1"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="header__right">
            <ul class="header__contact">
                <li><span class="overhead">邮箱</span>1120454016@qq.com</li>
                <li><span class="overhead">电话</span>+1 (070) 123–8459</li>
            </ul>
            <ul class="header__contact">
                <li><span class="overhead">生日</span>1995</li>
                <li><span class="overhead">地址</span>重庆九龙坡</li>
            </ul>
        </div>
    </header>
</body>
</html>